:root {
  --light-primary: #3f51b5;
  --light-primary-variant: #1a237e;
  --light-secondary: #4fc3f7;
  --light-secondary-variant: #039be5;

  --light-background: #ffffff;
  --light-surface: #ffffff;
  --light-error: #b00020;

  --light-on-primary: #ffffff;
  --light-on-secondary: #000000;
  --light-on-background: #000000;
  --light-on-surface: #000000;
  --light-on-error: #ffffff;

  --dark-primary: #9fa8da;
  --dark-primary-variant: #3f51b5;
  --dark-secondary: #81d4fa;

  --dark-background: #121212;
  --dark-surface: #121212;
  --dark-elevation-background: rgba(255, 255, 255, 0.08);
  --dark-error: #cf6679;

  --dark-on-primary: #000000;
  --dark-on-secondary: #000000;
  --dark-on-background: #ffffff;
  --dark-on-surface: #ffffff;
  --dark-on-disabled: #cccccc;
  --dark-on-error: #000000;

  --shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  --shadow-hover: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-background);
}

#body-container,
#header-content {
  padding: 10px;
  margin: auto;
  max-width: 1000px;
}

#header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#js-error-container {
  background-color: var(--light-error);
  color: var(--light-on-error);
  padding: 10px;
  text-align: center;
}

.disable-js-error {
  display: none;
}

#content {
  display: block;
}

.module-input-container {
  display: grid;
  grid-gap: 5px;
}

.module-name-label {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.module-credits-label {
  grid-row: 1;
  grid-column: 5;
}

.module-is-graded-label {
  grid-row: 2;
  grid-column: 1;
}

.module-has-completed-label {
  grid-row: 2;
  grid-column: 2;
}

.module-grade-selector-label {
  grid-row: 2;
  grid-column: 3;
}

.module-is-eliminated-label {
  grid-row: 2;
  grid-column: 4;
}

.module-weight-label {
  grid-row: 2;
  grid-column: 5;
}

.info-container, .title-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.elimination-container {
  margin: 0 20px;
}

.header,
.module-container,
.module-edit-container,
.edit-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.credits-container {
  padding: 0 20px;
}

.controls-container {
  margin-left: 5px;
}

.grade {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
}

.grade-value {
  font-weight: bold;
  margin: 0 5px;
}

.grade-limits, .module-not-graded, .eliminated, .disabled {
  color: gray;
}

.eliminated {
  text-decoration: line-through;
}

.module-grade-value {
  min-width: 2em;
  text-align: right;
}

.control-button {
  width: 25px;
  height: 25px;
}

.module-container {
  margin: 4px;
  padding: 2px 5px;
  box-shadow: var(--shadow-1);
}

.module-area-container {
  margin: 7px;
  padding: 5px;
  box-shadow: var(--shadow-1);
}

.curriculum-container {
  margin: 10px 0;
  padding: 5px;
  box-shadow: var(--shadow-1);
}

button,
.upload-button,
.save-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1em;
  display: table-cell;
  vertical-align: middle;

  cursor: pointer;

  background-color: var(--light-primary);
  color: var(--light-on-primary);
  border: none;
  margin: 2px;
  padding: 5px;
  box-shadow: var(--shadow-1);
}

button:hover,
.upload-button:hover,
.save-button:hover {
  background-color: var(--light-primary-variant);
  box-shadow: var(--shadow-hover);
}

.save-button {
  text-decoration: none;
}

#settings {
  display: grid;
  grid-gap: 10px;
}

.settings-container {
  min-height: 30px;
}

input[type='text'],
input[type='number'],
select {
  border: solid var(--light-primary-variant) 1px;
  border-radius: 5px;
}

input[type='text'],
input[type='number'],
select {
  padding: 3px 5px;
  box-sizing: border-box;
}

input:disabled,
select:disabled {
  border: solid lightgray 1px;
}

header {
  background-color: var(--light-primary);
  color: var(--light-on-primary);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    color: var(--dark-on-background);
  }

  header {
    background-color: var(--dark-elevation-background);
    color: var(--dark-primary);
  }

  button,
  .upload-button,
  .save-button {
    box-shadow: none;
    background-color: var(--dark-primary);
    color: var(--dark-on-primary);
  }

  button:hover,
  .upload-button:hover,
  .save-button:hover {
    box-shadow: none;
    background-color: var(--dark-primary-variant);
    color: var(--dark-on-primary);
  }

  .module-container,
  .module-area-container,
  .curriculum-container {
    background-color: var(--dark-elevation-background);
  }

  h1,
  h2,
  h3 {
    color: var(--dark-primary);
  }

  input {
    background-color: var(--dark-surface);
    color: var(--dark-on-surface)
  }

  input[type='text'],
  input[type='number'],
  select {
    border: none;
  }

  .module-not-graded, .grade-limits, .eliminated, .disabled {
    color: var(--dark-on-disabled)
  }
}
